@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@300;400;500;600;700;800&display=swap');

.header {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.header nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 70px;
  box-shadow: 0px 2px 10px #000;
  background-color: #fff;
  /* position: fixed; */
  z-index: 5;
  top: 0;
}
.header nav .nav_main {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.header nav .nav_main .nav_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  /* border: 1px solid; */
}
.header nav .nav_main .nav_logo a {
  text-decoration: none;
  display: flex;
  color: black;
  column-gap: 20px;
  font-family: "Rubik", sans-serif;
}
.header nav .nav_main .nav_logo img {
  width: 45px;
  height: 32px;
  /* border: 1px  solid; */
  /* margin-top: 50px; */
}
.header nav .nav_main .nav_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  gap: 30px;
  position: relative;
}
.header nav .nav_main .nav_list .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  gap: 8px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background: #70c05b;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  font-family: "Rubik", sans-serif;
}
.header nav .nav_main .nav_list .input_search {
  padding-left: 10px;
  width: 344px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #70c05b;
  outline: none;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}
.header nav .nav_main .nav_list .nav_menu {
  display: flex;
  gap: 45px;
}
.header nav .nav_main .nav_list .nav_menu a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-family: "Rubik", sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  color: #414141;
}
.header nav .nav_main .nav_list .profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.header nav .nav_main .nav_list .profile .man {
  width: 40px;
  height: 40px;
}
.header nav .nav_main .nav_list .profile p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  font-family: "Rubik", sans-serif;
}

.header .header_hero {
  display: flex;
  align-items: center;
  /* border: 3px solid; */
  width: 100%;
  height: 200px;
  background-image: url(../../public/img/gero_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header .header_hero img {
  margin-left: 200px;
}
.header .header_hero h1 {
  margin-top: 60px;
  color: #414141;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
main{
  max-width: 1920px;
  /* border: 1px solid; */
}
.itemList {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  padding: 30px 10px;
  overflow-x: scroll;
  row-gap: 65px;
  column-gap: 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex;
  /* border: 1px solid red; */
}
.itemList .item {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 1px 2px 8px 1px rgba(0, 0, 0, 0.3215686275);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid greenyellow; */
  font-family: Rubik;
}
.itemList .item img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.itemList .item .txt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 95%;
  height: 100%;
}
.itemList .item .txt h3 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.6980392157);
  text-transform: capitalize;
}
.itemList .item .txt .btn_cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.itemList .item .txt .btn_cont button {
  margin: 0 auto;
  padding: 10px 35px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out 350ms;
}
.itemList .item .txt .btn_cont .trash_btn {
  color: red;
}
.itemList .item .txt .btn_cont .trash_btn:hover {
  background: red;
  color: rgba(0, 0, 0, 0.3215686275);
}
.itemList .item .txt .btn_cont .buy_btn {
  color: rgb(0, 140, 255);
}
.itemList .item .txt .btn_cont .buy_btn:hover {
  background: rgb(0, 140, 255);
  color: #fff;
}
.itemList .item .txt .btn_cont .like_btn {
  color: blueviolet;
}
.itemList .item .txt .btn_cont .like_btn .fa-regular {
  display: block;
}
.itemList .item .txt .btn_cont .like_btn .fa-regular2 {
  display: none;
}
.itemList .item .txt .btn_cont .like_btn:hover {
  background: blueviolet;
  color: #fff;
}

.itemList::-webkit-scrollbar {
  display: none;
}
